!!!
%html
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    / Shaun CSS
    %link{ :href => "../../assets/styles.css", :rel => "stylesheet", :type => "text/css" }
    / Your CSS
    %link{ :href => "styles.css", :rel => "stylesheet", :type => "text/css" }
    %title <!-- $title -->
  %body
    .container
      %header.mt-5
        %h1 <!-- $title -->